@model ListProdManager.Models.MyFile

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>MyFile</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FileContent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FileContent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Size)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Size)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MyFileId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
